@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
#container {
  position: relative;
  font-family: "Lora", serif;
  color: rgba(68, 62, 62, 0.8);
}
header {
  background-color: rgba(233, 219, 219, 0.65);
  height: 7vh;
  min-height: 3rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  font-family: 'Lora', serif;

}

#menu-hamburger{
  width: 4vw;
  position: absolute;
  margin: 0.2%;
  top: -0.6rem;
  right: 1.2rem; 

}
header>ul{
  display: flex;
  justify-content: space-evenly;
}
header>ul>li { 
    list-style: none;
}

header>ul>li>a{
  color: #707070;
  text-decoration: none;
  font-size: 23px;
}

.backDiv:before{
  padding-top: 4vh;
  content: ' ';
  height: 93vh;
  width: 100%;
  background: url('../resources/1.jpg');
  background-size: cover;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.backDiv {
  height: 93vh;
  width: 100%;
  position: relative;
  padding-top: 4vh;
  overflow-y: hidden;
}
.backDiv:first-of-type {
  height: 100vh;
}
.backDiv:first-of-type:before {
  opacity: 0.6;
  height: 100vh;
}
#presentation {
  position: absolute;
  bottom: 10%;
  left: 8%;
  color: #fae5dd;
}
#presentation > h1 {
  font-size: 4em;
}
#presentation > h1 > span {
  font-size: 1.75em;
}
#presentation > h2 {
  font-size: 3em;
  margin-left: 5%;
}
.prez {
  width: 90%;
  height: 10vh;
  background: rgba(44, 44, 44, 0.12);
  margin: 0 auto;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prez > h1 {
  font-weight: 500;
  margin-left: 2vh;
  font-size: 2.5rem;
}
.prez > img {
  height: 5rem;
  opacity: 0.3;
}
#firstlogo {
  height: 7rem;
  opacity: 0.8;
}
.prez:first-of-type > img:first-of-type {
  height: 5rem;
  opacity: 0.3;
}
.flexcont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10vh 1vw 10vh 2vw;
}
.flexcont > ul > li {
  list-style: none;
  line-height: 3em;
  font-size: 2.5em;
}
.flexcont > img {
  width: 15vw;
  border-radius: 20px;
}
.flexcont > p {
  width: 50%;
  font-size: 2em;
  line-height: 2em;
}
#formation {
  height: 93vh;
  padding-top: 4vh;
  background: rgba(112, 112, 112, 0.21);
}
#formation > .prez {
  background: rgba(182, 186, 191, 0.39);
  border-radius: 0;
  width: 95%;
}
#studycontainer {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 3vh auto;
}
.studycard {
  height: 77vh;
  width: 30vw;
  display: flex;
  flex-flow: column wrap;
  line-height: 1.75em;
  font-size: 1.125rem;
}
.studycard > p {
  margin-left: 5%;
}
.studycard:first-of-type {
  background: rgba(112, 112, 112, 0.32);
}

.studycard:nth-of-type(2) {
  background: rgba(177, 165, 175, 0.4);
}
.studycard:last-of-type {
  background: rgba(182, 186, 191, 0.62);
}
.studycard > img {
  height: 30%;
  width: 90%;
  margin: 0 auto;
}
.boxh2 {
  background: rgba(255, 255, 255, 0.25);
  width: 95%;
  height: 10vh;
  margin: 2vh auto;
  line-height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxh2 > h2 {
  font-weight: 250;
}
.studycard:nth-of-type(2) > .boxh2 {
  text-align: center;
}
.lined {
  text-decoration: underline;
}
#container > .backDiv:nth-of-type(4) {
  background: url(../resources/frise.png) no-repeat;
  background-position: 57% 60%;
  background-size: 50%;
  font-size: 1.75rem;
  line-height: 1.5em;
}
#container > .backDiv:nth-of-type(4) > .prez {
  background-color: transparent;
}
#exp1 {
  width: 35vw;
  position: absolute;
  top: 15%;
  left: 15%;
}
#exp2 {
  position: absolute;
  top: 25%;
  left: 77%;
}
#exp3 {
  position: absolute;
  top: 73%;
  left: 8%;
  width: 35vw;
}
#exp4 {
  position: absolute;
  top: 72%;
  left: 63%;
  text-align: right;
}
.exptitle{
  font-weight: 900;
  text-decoration: underline;
}
#biggerDiv{
  height: 210vh;

}
#biggerDiv:before{
  height: 210vh;
}
#comp{
  display: flex;
  flex-flow: column wrap;
  padding-top: 4vh
}
.tablecomp{
  margin: 0 auto;
  font-size: 1.75em;
  width: 90%;
  border-collapse: collapse;
}
td, th{
  border: 2px solid black;
  font-weight: 500;
  height: 8vh;
  padding: 5px;
  text-align: center;
}
.color1{
background-color: rgb(202, 202, 202);
}
.color2{
background-color: rgb(223, 223, 223);
}
#logos1, #logos2{
  display: flex;
  justify-content: space-around;
  margin: 4vh 0;
}
#logos1>img, #logos2>img{
  width: 13vw;
  height: 10vh;
}
#portefolio{
  background-color: rgb(235, 235, 235);
  width: 100%;
  padding: 4vh 0;
  margin-top: 5vh;
}
#portefolio>h1{
  text-align: center;
  font-size: 3em;
}
#portefolio>h1>a{
  margin: 0 auto;
  text-decoration: underline;
  color: rgb(112, 112, 112);
}
#portefolio>a>img{
  display: block;
  margin: 0 auto;
  width: 8vw;
}
